<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<title>Add Flight</title>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: addflight"></nav>
		<center>
		<br>
		<h3>Tambah Penerbangan</h3>
		<br>
		<form th:action="@{/flight/add}" th:object="${flight}" method = "POST">
			<input type="hidden" th:field="*{pilot}"/>
			
			Flight Number : <br>
			<input type="text" name = "flightNumber"/><br>
			
			Origin : <br>
			<input type="text" name = "origin"/><br>
			
			Destination: <br>
			<input type="text" name = "destination"/><br>
			
			Time: <br>
			<input type="date" name = "time"/><br>
			<br>
			<button type="submit">Submit</button>
		</form>
		</center>
	</body>
</html>