<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Uda Airways</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<div th:replace="fragments/fragment :: addPilot"></div>
	<br>&nbsp;&nbsp;&nbsp;<button type="button" style="width: 9%;" class="btn btn-large btn-success" th:style="'font-weight: bold;'" th:attr="onClick=|window.location.href='/'|">Home</button>
<br><br>
<div class="container-fluid" >
	<div class="row">
		<div class="text-center col-xs-4 col-lg-4">
			<div class="card">
				<div class="card-header" th:style="'background: #c6f7c3;'"><b><h2>Tambah Pilot</h2></b></div>
				<form th:action="@{/pilot/add}" th:object="${pilot}" method="POST">
					<div class="card-body" th:style="'background: #dff7de;'">
						<label th:style="'font-weight: bold; font-size: 19px;'" for="licenseNumber">License Number: </label>
						<input th:style="'font-weight: bold; font-size: 19px;'" type="text" name="licenseNumber" class="form-control" required="required"/>
						<label th:style="'font-weight: bold; font-size: 19px;'" for="name">Name: </label>
						<input th:style="'font-weight: bold; font-size: 19px;'" type="text" name="name" class="form-control" required="required"/>
						<label th:style="'font-weight: bold; font-size: 19px;'" for="flyHour">Fly Hour: </label>
						<input th:style="'font-weight: bold; font-size: 19px;'" type="number" name="flyHour" class="form-control" required="required"/>
						<p>
						<p>
							<button type="submit" class="btn btn-large btn-success" th:style="'font-weight: bold;'">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>