<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Detail</title>
<body>
	<form th:action="@{/pilot/delete/} + ${pilot.id}" method="POST">
		<button type="submit">DELETE PILOT</button>
	</form>
	<br>
	<form th:action="@{/pilot/update/} + ${pilot.id}" method="POST">
		<button type="submit">UPDATE PILOT</button>
	</form>
	<h3 th:text="'Pilot License Number :' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Name :' + ${pilot.name}"></h3>
	<h3 th:text="'Fly Hour :' + ${pilot.flyhour}"></h3>
	<a th:href="@{/flight/add/} + ${pilot.licenseNumber}"> add flight </a>
	<table border="I">
		<br>
		<thead>
			<tr>
				<th style="text-align: center">No.</th>
				<th style="text-align: center">Flight Number</th>
				<th style="text-align: center">Origin</th>
				<th style="text-align: center">Destination</th>
				<th style="text-align: center">Time</th>
				<th style="text-align: center">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="flight, iterationStatus : ${flightlist}">
				<td th:text="${iterationStatus.count}"></td>
				<td th:text="${flight.flightNumber}"></td>
				<td th:text="${flight.origin}"></td>
				<td th:text="${flight.destination}"></td>
				<td th:text="${flight.time}"></td>
				<td>
					<form th:action="@{/flight/delete/} + ${flight.id}" method="POST">
						<button type="submit">DELETE</button>
					</form>

				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
