<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header">
                <h3 th:text=" 'Update Password ' + ${#httpServletRequest.remoteUser}">Login as</h3>
            </div>
            <div class="card-body">
                <div id="alertMessage" style="color:red" th:text="${errorMessage}"></div>

                <form th:action="@{/user/updateUser}" th:object = "${user}" method="post">
                    <div class="row form-group">
                        <input class="col-sm-8 form-control input-sm" type="hidden" name="username" th:value="${user.username}">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Password Lama:</label>
                        <input class="col-sm-8 form-control input-sm" id="passwordLama" type="password" name="passwordLama">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Password Baru: </label>
                        <input class="col-sm-8 form-control input-sm" id="newPassword" type="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Konfirmasi Password Baru: </label>
                        <input class="col-sm-8 form-control input-sm" id="confirmPassword" type="password" name="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
                    </div>
                    <span id="error" style="display:none">Password mismatch</span>
                    <div>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>