<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Pilot</title>
		<object th:include="fragments/fragments :: css" th:remove="tag"></object>
		<object th:include="fragments/fragments :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragments :: navbar"></nav>
		<h2>Welcome!</h2>
	
		<h3>Update Pilot</h3>
		<form th:action="@{/pilot/update}" th:objects="${pickPilot}" method="POST">
			<input th:value="${pickPilot.id}" hidden="true" name="id" >
			License Number : <br> 
			<input type="number" name="licenseNumber" th:value="${pickPilot.licenseNumber}" readonly="readonly" /><br>
			Name: <br> 
			<input type="text" name="name" th:value="${pickPilot.name}" /> <br>
			Fly Hour: <br> 
			<input type="number" name="flyhour" th:value="${pickPilot.flyHour}"/> <br><br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>