<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Pilot</title>
		<object th:include="fragments/fragments :: css" th:remove="tag"></object>
		<object th:include="fragments/fragments :: js" th:remove="tag"></object>
		<style>
			dialog {
			  border: 5px solid black;
			  width: 800px;
			  margin: 10px;
			}
		</style>
	</head>
	<body>
		<nav th:replace="fragments/fragments :: navbar"></nav>
		<dialog open> 
			<h2 th:text="'Pilot License Number : ' + ${pickPilot.licenseNumber}"></h2>
			<h2 th:text="'Name : ' + ${pickPilot.name}"></h2>
			<h2 th:text="'Fly Hour : ' + ${pickPilot.flyHour}"></h2>
			<h3 th:if="${pickPilot.flyHour} >= 100">Status : Pilot Senior</h3>
			<h3 th:unless="${pickPilot.flyHour} >= 100">Status : Pilot Junior</h3>
			
			<form th:action="@{/pilot/update/} + ${pickPilot.licenseNumber}" method="POST">
				<button type="submit">Update Pilot</button>
			</form>
			
			<form th:action="@{/pilot/delete/} + ${pickPilot.licenseNumber}" method="POST">
				<button type="submit">Delete Pilot</button>
			</form>
			
			<form th:action="@{/flight/delete/}" method="POST">
				<table border="I">
					<caption>Flights</caption>
					<thead>
						<tr>
							<th style="text-align: center">No.</th>
							<th style="text-align: center">Flight Number</th>
							<th style="text-align: center">Origin</th>
							<th style="text-align: center">Destination</th>
							<th style="text-align: center">Time</th>
							<th style="text-align: center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pickFlight, iterationStatus : ${pickPilot.pilotFlight}">
							<td th:text="${iterationStatus.count}"></td>
							<td th:text="${pickFlight.flightNumber}"></td>
							<td th:text="${pickFlight.origin}"></td>
							<td th:text="${pickFlight.destination}"></td>
							<td th:text="${pickFlight.time}"></td>
							<td >
								<input type="checkbox" th:field="${pickPilot.pilotFlight}" th:value="${pickFlight.id}" />
								<label th:for="${#ids.prev('pilotFlight')}">Delete</label>
	        				</td>
						</tr>
					</tbody>
				</table>
				<button type ="submit">Delete Selected Flight</button>
			</form>
			<br>
			<a th:href="@{/flight/add/} + ${pickPilot.licenseNumber}">Add flight</a>	
		</dialog>
	</body>
</html>