<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<div th:replace="fragments/fragment :: addPilot"></div>
	<br>&nbsp;&nbsp;&nbsp;
	<button type="button" class="btn btn-large btn-success"
		style="width: 9%;" th:attr="onClick=|window.location.href='/'|">Home</button>
	<br>
	<h2 th:style="${'color: green;'}" class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data
		Berhasil Dihapus!</h2>
	<br>

</body>
</html>