<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Si-Labor RSCS</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<div th:replace="fragments/fragment :: home" ></div>
	<br><br>
	<h1 class="text-center"></h1>
	<div class="container-fluid" style="width: 1260px; padding-left: 300px">
		
		<div class="row">
			<div class="text-center col-xs-4 col-lg-4">
				<div class="card">
					<div class="card-header" th:style="'background: #f4f129;'">
						<h3><b>Kebutuhan Reagen</b></h3>
					</div>
					
					<div class="card-body" th:style="'background: #d7ff8e;'">
						<tr>
							<td>
								<a th:href="@{/lab/kebutuhan}">
    								<img alt="Kebutuhan Reagen" title="Kebutuhan Reagen" th:src="@{/images/reagen.png}"/>
								</a>
							</td>
						</tr>
					</div>
					
				</div>
				<br>
				<div class="card">
					<div class="card-header" th:style="'background: #f4f129;'">
						<h3><b>Jadwal Jaga</b></h3>
					</div>
					<div class="card-body" th:style="'background: #d7ff8e;'">
						<tr>
							<td>
								<a th:href="@{/lab/jadwal-jaga}">
    								<img alt="Jadwal Jaga" title="Jadwal Jaga" th:src="@{/images/jadwal.png}"/>
								</a>
							</td>
						</tr>
					</div>
				</div>
			</div>
			<div class="text-center col-xs-4 col-lg-4">
				<div class="card">
					<div class="card-header" th:style="'background: #f4f129;'">
						<h3><b>Pemeriksaan Lab</b></h3>
					</div>
					<div class="card-body" th:style="'background: #d7ff8e;'">
						<tr>
							<td>
								<a th:href="@{/lab/pemeriksaan/permintaan}">
    								<img alt="Pemeriksaan" title="Pemeriksaan" th:src="@{/images/doctor.png}"/>
								</a>
							</td>
						</tr>
					</div>
				</div>
				<br>
				<div class="card">
					<div class="card-header" th:style="'background: #f4f129;'">
						<h3><b>Persediaan Lab</b></h3>
					</div>
					<div class="card-body" th:style="'background: #d7ff8e;'">
						<tr>
							<td>
								<a th:href="@{/lab/stok}">
    								<img alt="Persedian Lab" title="Persedian Lab" th:src="@{/images/lab.png}"/>
								</a>
							</td>
						</tr>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>
</body>
</html>