<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add Pilot</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<div th:replace="fragments/fragment :: addPilot"></div>
	<br>&nbsp;&nbsp;&nbsp;<button type="button" style="width: 9%;" class="btn btn-large btn-success" th:attr="onClick=|window.location.href='/'|">Back</button>
<br><br>
<div class="container-fluid" >
	<div class="row">
		<div class="text-center col-xs-4 col-lg-4">
			<div class="card">
				<div class="card-header"><b>Tambah Pilot</b></div>
				<form th:action="@{/pilot/add}" th:object="${pilot}" method="POST">
					<div class="card-body">
						<label for="licenseNumber">License Number: </label>
						<input type="text" name="licenseNumber" class="form-control" />
						<label for="name">Name: </label>
						<input type="text" name="name" class="form-control" />
						<label for="flyHour">Fly Hour: </label>
						<input type="number" name="flyHour" class="form-control" />
						<p>
						<p>
							<button type="submit" class="btn btn-large btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>