<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <title>SILABOR | Login</title>
    </head>

    <body>
        <form class="box" th:action="@{/login}" method="POST">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Login">
        </form>
    </body>

</html>