<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<nav th:replace="fragments/fragment :: navbar"></nav>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<title>SILABOR | Perencanaan Kebutuhan Reagen</title>
</head>

<body>
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Kebutuhan Reagen</div>
					<div class="card-body">
						<p class="card-text">Fitur untuk menambah Kebutuhan Reagen.</p>
						<a class="btn btn-primary" th:href="@{/lab/kebutuhan/tambah}">Tambah</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div role="main" class="px-3 mt-4">
		<h5>Data Kebutuhan Reagen</h5>
		<table class="table table-striped table-bordered" style="width: 870px">
			<tr class="text-center">
				<th>No.</th>
				<th>Reagen</th>
				<th>Status</th>
				<th>Updated Time</th>
				<th>Action</th>

			</tr>
			<!-- Step 2 Looping, Iteration Status -->
			<th:block
				th:each="kebReagen,iterationStatus : *{listKebutuhanReagen}">
				<tr align="center">
					<td th:text="${iterationStatus.count}"></td>
					<td th:text="${kebReagen.labSupplies.name}"></td>
					<td th:text="${kebReagen.status} != 1 ? ' Belum dibeli' : ' Sudah dibeli'"></td>
					<td th:text="${kebReagen.updatedTime}"></td>
					<td><a th:href="@{/lab/kebutuhan/ubah/} + ${kebReagen.id}" class="btn btn-success btn-sm">Ubah</a></td>
				</tr>
			</th:block>
		</table>
		<br>
	</div>
</body>
</html>