<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<head th:fragment="css">
			<link rel ="stylesheet" th:href ="@{/css/bootstrap.min.css}">
		</head>
		<head th:fragment="js">
			<script th:src="@{/js/bootstrap.min.js}"></script>
		</head>
	</head>
	
	<body>
		<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">APAP</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="addPilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Masukkan daftar Pilot</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="add" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Memasukkan Daftar Data</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="addFlight" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Memasukkan Daftar Flight</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="delete" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Menghapus Data</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="errorFlight" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Kesalahan Flight Number</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="errorPilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Kesalahan Pilot</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="updateFlight" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Memperbarui Flight</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="updateInfo" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Memperbarui Data</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="updatePilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Memperbarui Pilot</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="viewAllPilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Melihat Semua Pilot</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="viewFlight" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Melihat Flight</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<nav th:fragment="viewPilot" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Lihat Pilot</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link"  href="#">Home</a>
					</li>
				</ul>
			</div>
		</nav>
	</body>
</html>
