<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeLeaf.org">
	<head>
		<title>Data Pilot</title>
	</head>
	<body>
		<h3>Data Pilot :	</h3>
		<h3 th:text="'Pilot License Number	: ' + ${pilot.licenseNumber}">Pilot License Number</h3>
		<h3 th:text="'Name	: ' + ${pilot.name}">Name</h3>
		<h3 th:text="'Fly Hour: ' + ${pilot.flyHour}"></h3>
		<td><a th:href="@{'/pilot/update/'+${pilot.licenseNumber}}">Update </a></td>
		<td><a th:href="@{'/pilot/delete/' +${pilot.licenseNumber}}">Delete </a></td>
		<a th:href="@{'/flight/add/'+ ${pilot.licenseNumber}}">Add Flight</a>
		<br>
			<form th:action="@{/flight/view}" method="GET"></br>
				<button type="submit">View All Flight</button>
			</form>	
	</body>
</html>