<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Flight</title>
	</head>
		<h3>List Flight</h3>
		<div th:each="flights : ${flightList}">
			<h3 th:text="'Flight Number : ' + ${flights.flightNumber}"></h3>
			<h3 th:text="'Origin : ' + ${flights.origin}"></h3>
			<h3 th:text="'Destination : ' + ${flights.destination}"></h3>
			<h3 th:text="'Time : ' + ${flights.time}"></h3>
			<h3 th:text="'Pilot yang bertugas : ' + ${flights.pilot.name}"></h3>
			<h3 th:text="'Pilot License Number : ' + ${flights.pilot.licenseNumber}"></h3>
			<a th:href="@{'/flight/delete/' + ${flights.flightNumber}}" class="btn btn-danger">Delete Flight</a>
			<a th:href="@{'/flight/update/' + ${flights.flightNumber}}" class="btn btn-danger">Update Flight</a>
		</div>
	</body>
</html>