<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kelola Jadwal Jaga Staf </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
    <p style="color:red" th:text="${message}"></p>
    
    <div class="row">
			<div class="col-md-6">
   				<div class="card">
	        		 <div class="card-header">
	             	 	Tambah Jadwal Jaga Staf
	        		 </div>
	         		<div class="card-body">
		         	 	<form th:action="@{/lab/jadwal-jaga/tambah}"  method="GET">
		         	 		<button type="submit" class="btn btn-primary">Tambah Jadwal Jaga</button>
		         	 	</form>
	         	 	</div>
	         	</div>
      		</div>
    	</div>	 
		<br>
    
   <div class="row">
			<div class="col-md-6">
   				<div class="card">
	        		 <div class="card-header">
	             	 	Lihat Jadwal Jaga Staf
	        		 </div>
	         		<div class="card-body">
		         	 	<form th:action="@{/lab/jadwal-jaga}"  method="GET">
		         	 	<br>
		         	 	<input  type="Date" name="tanggal">
		         	 		<button type="submit" class="btn btn-primary">Lihat Jadwal Jaga</button>
		         	 	</form>
	         	 	</div>
	         	</div>
      		</div>
    	</div>	 
		<br>
        
    </div>
</body>

</html>