<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Daftar Persediaan Lab</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
	
	<p th:text=${message}></p>
			<div class="col-md-6">
   				<div class="card">
   				<div class="card-header">
	             	 	Tambah Persediaan Laboratorium
	        		 </div>
	         		<div class="card-body">
		         	 	<form th:action="@{/lab/stok/tambah}" method="GET">
		         	 		<button type="submit" class="btn btn-primary">Tambah Persediaan Lab</button>
		         	 	</form>
	         	 	</div>
	         	</div>
      		</div>
      		<br>
    <div class="col-md-6">
    <div class="card">
          <div class="card-header">
    			<h3 align="center" >Daftar Persediaan Laboratorium</h3>
    		</div>
        
				    <div class="card-body">
						<table border="1" align="center" cellpadding="8">
							<thead align="center">
							<tr>
								<th>Id</th>
								<th>Jenis</th>
								<th>Nama</th>
								<th>Jumlah</th>
								<th>Deskripsi</th>
								<th>Aksi</th>
							</tr>
							</thead>
							<tbody>
								<tr th:each="labSupplies : ${listSupplies}">
								<td align ="center" th:text="${labSupplies.id}"></td>
								<td align ="left" th:text="${labSupplies.jenis}"></td>
								<td align ="left" th:text="${labSupplies.nama}"></td>
								<td align ="center" th:text="${labSupplies.jumlah}"></td>
								<td align ="left" th:text="${labSupplies.deskripsi}"></td>
						
								<td><form th:action="@{'/lab/stok/ubah/' + ${labSupplies.id}}" method=GET>
									<button type="submit" class="btn btn-primary">Ubah</button></form>
								</td>
								</tr>
							</tbody>
						</table>
					</div>
		
   
   	
      
        <br>
      </div>
      </div>
    </div>
</body>

</html>