<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Pilot</title>
</head>

<body>
	<h2>Pilot Found!</h2>
	
	<h2 th:text="'Pilot License Number: ' + ${pilot.licenseNumber}">Pilot License Number</h2>
	<h2 th:text="'Name: ' + ${pilot.name}">Name</h2>
	<h3 th:text="'Fly Hour: ' + ${pilot.flyHour}"></h3>
	<td><a th:href="@{'/pilot/update/'+${pilot.licenseNumber}}">Update Pilot</a></td>
	<td><a th:href="@{'/pilot/delete/' +${pilot.licenseNumber}}">Delete Pilot</a></td>
	<a th:href="@{'/flight/add/'+ ${pilot.licenseNumber}}">Add Flight</a>
			
			<br><form th:action="@{/flight/view}" method="GET"></br>
			<button type="submit">View All Flight</button>
		</form>	
	<h3 th:text="'Daftar Flights '+${pilot.name}"></h3>
    <div th:each="flight : ${flights}">
        <p th:text="${flight.getOrigin()}+' - '+${flight.getDestination()}"></p>
    </div>
		
		<br>

</body>
</html>