<!DOCTYPE html>
<html xmlns:th ="http://www.thymeLeaf.org" >
	<head> 
	
		<title>View All Flight</title>
		<style type="text/css">
		table{
		margin: 5px;
       	width: 290px;
		}
		th {
       padding: 3px;
   	   }
   	   td {
       padding-left: 8px;
       padding-right: 8px;
       border: 1px solid #990000;
       background-color: #ffffcc;
    }
    #trHeader {
       text-decoration: underline;
       color: #990000;
    }
    .centerCell {
       text-align: center;
    }
   		</style>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar">
		</nav>
		<h2>Daftar Semua Flight</h2>
		<table>
			<thead id="trHeader">
				<th>Flight Number</th>
				<th>Origin</th>
				<th>Destination</th>
				<th>Time</th>
				<th>Pilot License Number</th>
				<th>Pilot Name</th>
			</thead>
			<tbody>
				<tr th:each="flight, iterationStatus : ${flight}">
					<td class="centerCell" th:text="${flight.flightNumber}"></td>
					<td class="centerCell" th:text="${flight.origin}"></td>
					<td class="centerCell" th:text="${flight.destination}"></td>
					<td class="centerCell" th:text="${flight.time}"></td>
					<td class="centerCell" th:text="${flight.pilot.licenseNumber}"></td>
					<td class="centerCell" th:text="${flight.Pilot.name}"></td> 
					</tr>	
			</tbody>
		</table>
	</body>
	

</html>