<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Update Pilot</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<object th:include="fragments/fragment ::css" th:remove="tag"></object>
	<object th:include="fragments/fragment ::js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar('Update Pilots')"></nav>
	<h2>Hello!</h2>
	
	<h3>Update Pilot</h3>
	<form th:action="@{/pilot/update}" th:object="${pilot}" method="POST">
    License Number: <br>
    <input type="text" name="licenseNumber" th:value="${pilot.licenseNumber}" readonly = "readonly">
    <br>
    Name: <br>
    <input type="text" name="name" th:value="${pilot.name}" />
    <br>
    Fly Hour: <br>
    <input type="number" name="flyHour" th:value="${pilot.flyHour}" />
    <br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>