<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Pilot</title>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<h2>Hello!</h2>
	
	<h2 th:text="'Pilot License Number:' + ${pilot.licenseNumber}">Pilot License Number</h2>
	<h2 th:text="'Name:' + ${pilot.name}">Name</h2>
	<h2 th:text="'Fly Hour:' + ${pilot.flyHour}">Fly Hour</h2>
	<h3 th:text="${pilot.flyHour} >= 100 ? 'Status: Pilot Senior' : 'Status: Pilot Junior'"></h3>
	
	<td>
	<form th:action="@{/pilot/update/} + ${pilot.licenseNumber}">
		<button type="submit">Update Pilot</button>	
	</form>
	<form th:action="@{/pilot/delete/} + ${pilot.licenseNumber}">
		<button type="submit">Delete Pilot</button>	
	</form>
	</td>
	
	<br></br>
	
	<h2>Daftar Flight</h2>
    <form th:action="@{/flight/delete}" th:object="${pilot}" method="POST">
	    <table border="1">
	    	<tbody>
	    	<tr>
	            <th style="text-align: center">No.</th>
	            <th style="text-align: center">Flight Number</th>
	            <th style="text-align: center">Origin</th>
	            <th style="text-align: center">Destination</th>
	            <th style="text-align: center">Time</th>
	            <th style="text-align: center">Detail</th>
	            <th style="text-align: center">Action</th>
	        </tr>
	    		<tr th:each="flight, iterationStatus: ${listFlight}">
	    			<td th:text="${iterationStatus.count}"></td>
	    			<td th:text="${flight.flightNumber}"></td>
	    			<td th:text="${flight.origin}"></td>
	    			<td th:text="${flight.destination}"></td>
	    			<td th:text="${flight.time}"></td>
	    			<td><a th:href="@{'/flight/view/' + ${flight.flightNumber}}">See Flight Detail</a></td>
	    			<td>
	    				<input type="checkbox" th:field="*{pilotFlight}" th:value="${flight.id}"/>
	    				<label th:for="${#ids.prev('pilotFlight')}">Hapus</label>
					</td>
	    	</tbody>
	    </table>
    <button type="submit">Delete Selected Flight</button>
    </form>
    <br>
    	<form th:action="@{/flight/add/} + ${pilot.licenseNumber}">
		<button value="submit">Add Flight</button>	
	</form>
</body>
</html>
